---
http_interactions:
- request:
    method: get
    uri: https://s3.amazonaws.com/
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Content-Type:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <ListAllMyBucketsResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/">
          <Owner>
            <ID>baadfood</ID>
            <DisplayName>joe</DisplayName>
          </Owner>
          <Buckets>
            <Bucket>
              <Name>bucket1.example.net</Name>
              <CreationDate>2015-01-07T22:37:45.000Z</CreationDate>
            </Bucket>
            <Bucket>
              <Name>bucket2</Name>
              <CreationDate>2014-01-29T14:54:38.000Z</CreationDate>
            </Bucket>
          </Buckets>
        </ListAllMyBucketsResult>
  recorded_at: Tue, 14 Jul 2015 17:35:34 GMT
