---
http_interactions:
- request:
    method: get
    uri: https://s3.amazonaws.com/
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Content-Type:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - 0673E7CC258688E1
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <ListAllMyBucketsResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/">
          <Owner>
            <ID>0e8b0fe19497f9f369651412f2300862af13c75e04427f61b8221c17c2f55dd0</ID>
            <DisplayName>joey</DisplayName>
          </Owner>
          <Buckets>
            <Bucket>
              <Name>bucket1.artsy.net</Name>
              <CreationDate>2015-01-07T22:37:45.000Z</CreationDate>
            </Bucket>
            <Bucket>
              <Name>bucket2</Name>
              <CreationDate>2014-01-29T14:54:38.000Z</CreationDate>
            </Bucket>
          </Buckets>
        </ListAllMyBucketsResult>
  recorded_at: Tue, 14 Jul 2015 17:35:34 GMT
